.col-lg-offset-3.col-md-offseet-3.col-sm-offset-3.col-lg-6.col-md-6.col-sm-6.col-xs-12
  %h2.title
    Редактировать профиль
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :name, 'Ваше имя'
      %br/
      = f.text_field :name, class: "form-control"
    .field
      = f.label :email, "Ваш адрес электронной почты"
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password, "Ваш пароль"
      %i (не вводите, если не хотите менять)
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
    .field
      = f.label :password_confirmation, "Повторный ввод нового пароля"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    .field
      = f.label :current_password, "Ваш текущий пароль"
      %i (введите его для сохранения изменений)
      %br/
      = f.password_field :current_password, autocomplete: "off", class: "form-control"
    .actions.title
      = f.submit "Обновить", class: "btn btn-success"
  %br/
  %h3 Удалить мой аккаунт
  %p
    #{button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы точно уверены в этом?" }, method: :delete, class: "btn btn-danger"}