<p id="notice"><%= notice %></p>

<h1>Список парков Краснодара</h1>
<div class="row">
  <% @parks.each do |park| %>
    
      <div class="col-md-4">
        <div class="map_index">
        <div class="image_wrapper">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x200&sensor=false&zoom=16&markers=#{park.latitude}%2C#{park.longitude}", class: "map_image" %></div>
          <h2><%= link_to park.address, park %><br><small><%= link_to 'Править', edit_park_path(park) %>  <%= link_to 'Удалить', park, method: :delete, data: { confirm: 'Уверен?' } %></small></h2>
        </div>
      </div>

  <% end %>
</div>
