%script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

%h2.title
	= @park.title.chomp + ", "
	= @park.city
	- if user_signed_in?
		%a.btn.btn-success{:href => edit_park_path(@park)} Редактировать
		= link_to "Удалить", park_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"

.col-lg-8.col-sm-8.col-md-8.col-xs-12
	#map
	%br/

.col-lg-4.col-sm-4.col-md-4.col-xs-12.adsense
	%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
	/ Адаптивный для парков
	%ins.adsbygoogle{"data-ad-client" => "ca-pub-2981994993343487", "data-ad-format" => "auto", "data-ad-slot" => "1465559101", :style => "display:block"}
	:javascript
		(adsbygoogle = window.adsbygoogle || []).push({});

.col-lg-12.col-sm-12.col-md-12.col-xs-12
	= @park.description.html_safe


:javascript
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(#{raw @hash.to_json});
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
		handler.getMap().setZoom(16);
	});


