!!! 5
%html
%head
	%title Городские Парки и Скверы
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= javascript_include_tag 'ckeditor/ckeditor.js'
	= csrf_meta_tags
	%link{:href => "https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand
				%a{:href => "#{root_path}"}
					%img#icon{:src => asset_path('tree.png')}
					ГОРОДСКИЕ ПАРКИ И СКВЕРЫ
					
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to 'Добавить парк', new_park_path
					%li= link_to current_user.name, edit_user_registration_path
					%li= link_to "Выйти", destroy_user_session_path, method: :delete

			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to 'Регистрация', new_user_registration_path
					%li= link_to 'Войти', new_user_session_path

	.container
		-flash.each do |name, msg|
			=content_tag :div, msg, class: "alert"

		= yield
	.container-main
	.footer
	
:javascript
	$(document).ready(function() {
		if ($('textarea').length > 0) {
			var data = $('textarea');
			$.each(data, function(i) {
				CKEDITOR.replace(data[i].id);
			});
		}
	});