!!! 5
%html
%head
	%title Городские Парки
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			%div{ class: 'navbar-brand' }
				= link_to root_path do
					= image_tag 'tree.png', id: 'icon'

			%ul.nav.navbar-nav.navbar-right
				%li= link_to 'Добавить парк', new_park_path
				%li= link_to 'Войти', ""

	.container
		-flash.each do |name, msg|
			=content_tag :div, msg, class: "alert"

		= yield
